# git specific files
.gitattributes export-ignore
.gitignore export-ignore
.gitkeep export-ignore
.mailmap export-ignore

# GitLab configuration
poetry.lock gitlab-generated
flake.lock gitlab-generated
